<div class="layout-column">

    <md-input-container>
        <label ng-show="label" ng-bind="label"></label>
        <input md-no-asterisk ng-model="viewValue" ng-blur="onBlur()">
    </md-input-container>

    <div class="layout-row btns">
        <div class="flex">
            <md-button  class="md-raised" aria-label="Up" ng-click="up()">
                <md-icon>&#xE316;</md-icon>
            </md-button>
        </div>
        <div class="flex">
            <md-button class="md-raised" ng-click="down()" aria-label="Down">
                <md-icon>&#xE313;</md-icon>
            </md-button>
        </div>
    </div>
</div>