<div class="layout-row" layout-align="center center">
    <div class="flex-65">
        <input  md-no-asterisk ng-model="viewValue" ng-blur="onBlur()">
    </div>
    <div class="flex-35 arrows">

        <md-button style="margin: 0; padding: 0; height: 36px; width: 36px;" class="md-icon-button" aria-label="Up" ng-click="up()">
            <md-icon>keyboard_arrow_up</md-icon>
        </md-button>

        <md-button style="margin: 0; padding: 0; height: 36px; width: 36px;" class="md-icon-button" ng-click="down()" aria-label="Down">
            <md-icon>keyboard_arrow_down</md-icon>
        </md-button>
    </div>
</div>