<div class="layout-row">
    <div class="flex">
            <input  md-no-asterisk ng-model="viewValue" ng-blur="onBlur()">
    </div>
    <div class="flex-5">
        <md-button class="md-icon-button" aria-label="More" ng-click="up()">
            <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon>
        </md-button>

        <md-button class="md-icon-button" ng-click="down()" aria-label="More">
            <md-icon><i class="material-icons">keyboard_arrow_down</i></md-icon>
        </md-button>
    </div>
</div>
</md-input-container>